@model UserModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Create a new User</h1>
@using (Html.BeginForm())
{
    <div class="label">
        @Html.LabelFor(m => m.FirstName)
    </div>
    <div class="textbox">
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div class="label">
        @Html.LabelFor(m => m.LastName)
    </div>
    <div class="textbox">
        @Html.TextBoxFor(m => m.LastName)
    </div>

    <input type="submit", value="Create a new user" asp-action="Create" />
}

